// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.bg-alpha {
    background-color : rgba(255, 255, 255, 0.6);
    backdrop-filter : blur(10px);
}

/*********************************************************************
                                  HEADER
**********************************************************************/

.header-color {
    background-color : rgb(247, 234, 215);
}
  
.header-title {
    font-family: Georgia, serif;
    font-size: 55px;
    border-radius: 40px;
}

.header-logo {
    width : 75px;
    height : 75px;
}


@media only screen and (max-width: 768px) {
    .header-title {
        font-size: 50px;
    }
    .header-logo {
        width : 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 525px) {
    .header-title {
        font-size: 40px;
    }
    .header-logo {
        width : 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 435px) {
    .header-title {
        font-size: 35px;
    }
    .header-logo {
        width : 50px;
        height: 50px;
    }
}


.card-img-top {
    background-color: aliceblue;
}